$background: #f8f8f8;
$blue: #1d8295;
$white: #fff;
$white80: #ffffff80;
$yellow: #ffdb8d;
$purple: #68629A;
$orange: #fd694c;
$gray: #707070;
$gray20: #70707020;
$gray80: #70707080;
$black: #000;
$black20: #00000020;
$transparent: transparent;