@import "../../sass/color";

.search-bar {
  .field {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 31px;
    width: 624px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 29px;
    position: relative;
    background-color: $gray20;
    .icon {
      height: 16px;
      width: 16px;
      color: $gray;
    }
  
    .input {
      border: 1px solid $black;
      height: 29px;
      width: 624px;
      padding-left: 165px;
      transition: 0.3s padding-left ease-in-out;
      border: none;
      border-radius: 29px;
      position: relative;
      background-color: $transparent;
      font-size: 12px;
      line-height: normal;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  
    input:focus {
      padding-left: 12px !important;
    }
  }
  
  .second {
    width: 181px;
    .input {
      padding-left: 12px !important;
      width: 181px !important;
    }
  }
}
