@import "../../sass/color";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $background;
  border-top-left-radius: 56px;
  box-shadow: -6px 0 20px $black20;
  
  .row {
    flex-direction: row;
    margin-left: 47px;
    margin-top: 29px;
    // border: 1px solid $gray;
  }

  .date {
    font-size: 14px;
    color: $gray;
  }

  .wrap-menu {

  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: $gray;
    padding-left: 47px;
    margin-top: 29px;
    margin-bottom: 29px;
  }
}