@import "../../sass/color";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $background;
  border-top-left-radius: 56px;
  box-shadow: -6px 0 20px $black20;
  
  .wrap-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 47px;
    margin-right: 40px;
    margin-top: 29px;
  }

  .date {
    font-size: 14px;
    color: $gray;
  }

  .wrap-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    .profile-menu {
      display: flex;
      align-items: center;
      margin-right: 50px;
      .icon {
        padding-right: 14px;
      }
      .logout {
        font-size: 14px;
        color: $blue;
      }
    }

    .menu {
      height: 26px;
      width: 26px;
    }
  }

  .search {
    margin-right: 47px;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: $gray;
    padding-left: 47px;
    margin-top: 29px;
    margin-bottom: 29px;
  }
}