@import "../../sass/color";

html, body, #root {
	width: 100%;
	height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: row;
  background-color: $white;
  position: relative;
  height: 100%;
  width: 100%;
  .column {
    display: flex;
    flex-direction: column;
    width: 298px - 40px;
    padding-left: 40px;
  }

  .logo {
    color: $blue;
  }

  .wrap-nav {
    margin-top: 94px;
  }

  .wrap-btn {
    display: flex;
    align-items: center;
  }

  .active {
    justify-content: space-between;
    z-index: 4;
    .btn {
      background-color: $blue;
      box-shadow: 0 3px 6px $black20;
    }
    .name {
      color: $white;
    }
    .stick {
      background-color: $blue;
      width: 4px;
      height: 44px;
      display: flex;
    }
  }

  .btn {
    height: 44px;
    border-radius: 44px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: $transparent;
  }

  .name {
    color: $gray;
    font-size: 14px;
    font-weight: bold;
  }

  .icon {

  }
}